<h1>Listado de MicroPosts</h1>
<div class="CSSTableGenerator" style="width:600px;">
    <table>
      <thead>
        <tr>
          <th>Contenido</th>
          <th>Usuario</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @microposts.each do |micropost| %>
          <tr>
            <td><%= micropost.content %></td>
            <td><%= micropost.user_id %></td>
            <td><%= link_to 'Mostrar', micropost %></td>
            <td><%= link_to 'Editar', edit_micropost_path(micropost) %></td>
            <td><%= link_to 'Borrar', micropost, method: :delete, data: { confirm: 'Está seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>

<%= link_to 'Nuevo Micropost', new_micropost_path %>
<%= link_to 'Usuarios', users_path %>
<%= link_to 'Nosotros', controller: "static_pages", action: "about" %>
