<h1>Listado de usuarios</h1>

<div class="CSSTableGenerator" style="width:600px;height:150px;">
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th></th>
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Borrar', user, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo usuario', new_user_path %>
<%= link_to 'Mensajes', microposts_path %>
<%= link_to 'Nosotros', controller: 'static_pages', action: 'about' %>
