<h1>Datos del usuario</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
